:root {
  --headingFont: 'Rubik';
  --sansFont: 'Lato';
  --serifFont: 'PT Serif';

  --thin: 300;
  --regular: 400;
  --bold: 700;
  --extraBold: 800;

  --neutral: #1D1B20;
  --onNeutral: #FAFAFA;
  --neutralContainer: #E0E0E0;
  --onNeutralContainer: #424242;

  --error: #B41313;
  --success: #088323;

  --black: #1D1B20;
  --black75: rgba(29,27,32,0.75);
  --black50: rgba(29,27,32,0.5);
  --black25: rgba(29,27,32,0.25);
  --black10: rgba(29,27,32,0.1);
  --black05: rgba(29,27,32,0.05);

  --disp_64: 64px;
  --disp_45: 45px;
  --disp_36: 36px;
  --head_57: 57px;
  --head_45: 45px;
  --head_36: 36px;
  --head_32: 32px;
  --head_28: 28px;
  --head_24: 24px;

  --body_18: 18px;
  --body_16: 16px;
  --body_14: 14px;
  --body_12: 12px;
  --body_10: 10px;

  --penumbra: 0 6px 20px rgba(0,0,0,0.09);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}
body{
  margin-top: 56px;
  background-color: var(--onNeutral);
}

@media only screen and (min-width: 769px){
  body{
    margin-top: 56px;
  }
}
@media only screen and (min-width: 1440px){
  body{
    margin-top: 64px;
  }
}
@media only screen and (min-width: 1920px){
  body{
    margin-top: 72px;
  }
}